body {
    background-color:#e6e6e6;
  }


  ul{
    
    list-style-type:none;
    font-size :17px;
    background-color: green;
    
    }
    
    ul li {
     display: inline-block;
     margin-top: 10px;
    
    }
    
    ul li a {
        text-decoration: none;
         color:white;
         padding: 20px;
        margin: 40px;
       
    
    }
    
    ul li a:hover{
      background-color:tomato;
      color:black;
      font-size: 18px;
    
    }
    .active a{
    background-color: white;
    color: black;
         
    }
    u:hover{
       color:red;
       background-color: mintcream;
    }

  
    h1{
       text-align: center;
       color:purple;
       text-shadow: 4px 4px 4px black;
    }

    h2{

      color:red;
      text-shadow: 4px 4px 4px black;
      
    }

    img{
        height:350px;
        width: 320px;
        
        border-radius: 150px;
        display:block;
        float:left;
        margin-left: 8%;
        box-shadow: 4px 4px 4px burlywood;
        
    }



    .hob {
       text-align: center; 
      background-color:aliceblue;
    color:black;
    border-radius: 50%;
      width: 50%;
      margin-left: 30%;
    }


    .about{
       margin-left: 40%;
    }


    /* Table */

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }



      /*አድራሻ */

      .info{
        border-radius: 90px;
        border: solid green;
        margin-left: 30%;
        padding: 30px;
        margin-right: 400px;
       background-color: bisque;
      
        
      }

      .info p{
        font-size:20px;
        font-weight: bolder;
        color: blue;
      }